 <div class="head">  <%= render 'layouts/header' %>
<h1>Welcome to Crowdbuzz!</h1>

 <div class="welcome">
 
 </div>
<p>
Create your events here!!!
</p>
<%= link_to 'events creation', new_event_path %>
<%# <%= link_to 'view events', event %>     
 </div>
